
:root {
    --body-bg-color: #2f303a;
    --footer-bg-color: #202027;
    --text-color:white;
    --accent-color: #c64459;
    --main-font:  "Poppins", sans-serif;
    --circle1-color:#bc3a801a;
    --circle2-color:#3457b21a;
}